<a href="https://colab.research.google.com/github/anubhavanand3116/MachineLearning/blob/main/5_Car_Price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
url='https://raw.githubusercontent.com/codebasics/py/master/ML/6_train_test_split/carprices.csv'

In [5]:
df=pd.read_csv(url)
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [7]:
X= df[['Mileage','Age(yrs)']]
y=df['Sell Price($)']

In [9]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [19]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
model.predict(X_test)

array([27986.18782425, 26292.44914959, 37829.01025601, 38138.7954357 ])

In [24]:
model.score(X_test,y_test)

0.4385554686938615